<div class="row">
  <div class="row new-resource">
    <div class="large-6 columns">
      <h2> <%= @profile.username %> </h2>
    </div>
    ​
    <% if current_user == @profile.user %>
      <div class="large-6 columns">
        <div class="edit_profile small-6 columns">
          <%= link_to("Edit Profile", edit_profile_path, class:"button") %>
        </div>
        ​
        <div class="edit_registration small-6 columns">
          <%= link_to('Edit Account Information', edit_user_registration_path, class:"button") %>
        </div>
      </div>
    ​<% end %>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag "#{@profile.avatar_url.thumb.url}", class:"image" %>
    </div>
    <div class="large-6 columns">      
      <p>Email: <%= @user.email %></p>
      <p>Brewop Name: <%= @profile.brewop_name %></p>
      <p>Location: <%= @profile.location %></p>
    </div>
  </div>
</div>
</div>
