<div class="row">
  <% unless @instructions.nil? %>
    <h3>Current Boil Additions:</h3>
    <% @instructions.each do |i| %>
      <li>
        <%= i.ingredient.item %>: <%= i.quantity.to_f %> | <%= i.unit %>
      </li>
    <% end %>
  <% end %>

  <h1>New Boil Addition</h1>

  <%= render "instructions/form" %>

    <%= link_to "Back To: #{@recipe.name}", recipe_path(@recipe) %>
</div>
