 <h1> <%= @instruction.ingredient.item %> Directions </h1>

 Total Quantity: <%= @instruction.quantity %> <%= @instruction.unit %>

  <%= link_to "Edit", edit_recipe_instruction_path(@instruction.recipe.id, @instruction.id) %>

  <%= link_to "Back To: #{@instruction.recipe.name}", recipe_path(@instruction.recipe) %>

  <%= button_to "Delete", recipe_instruction_path(@instruction.recipe.id, @instruction.id), class:"button", method:"delete" %>
