  <div class="all_comments">
    <% if @recipe.user == current_user %>
    <%= button_tag "New Note", class: 'new-comment' %>
    <div class="add-comment" style="display:none">
      <%= render '/comments/form' %>
    </div>
    <% end %>

    <div class="comments">
      <% if @comments.empty? %>
        No notes yet!
      <% else %>
        <% @comments.each do |c| %>
        <div class="callout success" id="comment-<%= c.id %>">
          <h4>Note, <%= c.created_at %></h4>
          <span><%= c.body %></span>
          <% if @recipe.user == current_user || current_user.admin? %>
          <%= button_to "Delete Note", api_recipe_comment_path(c.recipe.id, c.id), class:"button delete-comment", :method => :delete %>
          <% end %>

          <% if @recipe.user == current_user %>
          <%= button_tag "Edit", class: 'edit-comment' %>
          <div class="update-form" style="display:none">
            <%= form_for [@recipe, c], method: 'put' do |f| %>
            <%= f.label :body, "Note: " %>
            <%= f.text_area :body %>
            <%= f.hidden_field(:id, value: c.id) %>

            <%= f.submit "Edit Note", class: "button" %>
            <% end %>
          </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
