<h2>The Boil</h2>
<p>
   <%= link_to "New Boil Addition", new_recipe_instruction_path(@recipe) %>
</p>

<div class="details" id="details">
  <% n = 0 %>
  <% @instructions.each do |i| %>
    <% n += 1 %>
    <%= link_to n, recipe_instruction_path(i.recipe.id, i.id) %>: <%= i.add_point %> | <%= i.temperature %> | <%= i.quantity %> <%= i.unit %> | <%= i.ingredient.item %><br>
  <% end %>
</div>
