<div class="row">
  <h1> <%= @recipe.name %> </h1>

  <% if @recipe.user == current_user %>
    <%= button_to "Edit", edit_recipe_path(@recipe), class:"button", method:"get" %>
  <% end %>

  <% if @recipe.user == current_user || current_user.admin?%>
    <%= button_to "Delete", recipe_path(@recipe), class:"button", method:"delete" %>
  <% end %>

</div>

<div class="row">
  <% if @recipe.user == current_user %>
    <%= button_to "Brewed!", new_recipe_batch_path(@recipe), class:"button", method:"get", id:"brew" %>
    <%= link_to "Batches", recipe_batches_path(@recipe) %>
  <% end %>
</div>

<div class="container">
  <%= render "details" %>
</div>

<div class="container">
  <%= render "ingredients" %>
</div>

<div class="container">
  <%= render "instructions" %>
</div>

<div class="container">
  <%= render "comments" %>
</div>
