<div class="row">
  <h1> <%= @ingredient.item %> </h1>

  Total Quantity: <%= @ingredient.quantity %> <%= @ingredient.unit %>

  <%= link_to "Edit", edit_recipe_ingredient_path(@ingredient.recipe.id, @ingredient.id), class:"button" %>

  <%= button_to "Delete", recipe_ingredient_path(@ingredient.recipe.id, @ingredient.id), class:"button warning", method:"delete" %>

  <%= link_to "Back To: #{@ingredient.recipe.name}", recipe_path(@ingredient.recipe) %>
</div>
